/* 
colors: #222831 - black, #393E46 - grey, #00ADB5 - teal, #EEEEEE - white
*/

@font-face {
  font-family: "regular-text";
  src: url("./font/HeroRegular.otf");
}

.body {
  margin: 0px;
  padding: 0px;
}

.nav-cv {
  border-color: #00adb5 !important;
  font-family: regular-text !important;
  color: #00adb5 !important;
  border-width: 2px !important;
  text-decoration: none !important;
  width: 100px !important;
}

.nav-cv:hover {
  background-color: #00adb5 !important;
  color: #393e46 !important;
}

.nav-contact {
  border-color: #00adb5 !important;
  font-family: regular-text !important;
  color: #222831 !important;
  background-color: #00adb5 !important;
  border-width: 2px !important;
  text-decoration: none !important;
  width: 100px !important;
}

.header {
  background-color: #393e46;
  display: flex;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

.main {
  display: flex;
  flex-direction: row;
  background-color: #222831;
  color: #eeeeee;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.main-text {
  font-family: regular-text;
  font-size: 55px;

}

.main-text-special {
  color: #00adb5;
}

.main-text-address {
  color: #393e46;
}

.skills {
  background-color: #222831;
}

.skills-title {
  font-family: regular-text;
  font-weight: 100;
  color: #eeeeee;
}

.skills-text {
  font-family: regular-text;
}

.hobbies {
  background-color: #222831;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.hobbies-title {
  color: #eeeeee;
}

.text-modification:hover {
  color: #00adb5;
}

.text-modification {
  color: #eeeeee;
  text-decoration: none;
}

.hobby-title {
  color: #eeeeee !important;
  font-family: regular-text !important;
}

.hobby-btn {
  width: 100%;
  font-family: regular-text !important;
  font-size: 25px !important;
}

.drop-button {
  font-family: regular-text;
  background-color: transparent;
}

.footer {
  background-color: #393e46;
  display: flex;
  margin: 0;
  padding: 0;
}

.img-bg {
  background-color: #222831;
  border: #222831;
}

.btn-final {
  font-family: regular-text !important;
  font-size: 30px !important;
  font-weight: bolder !important;
  border-width: 5px !important;
}

.img-final {
  border: transparent !important;
  margin: 0px;
  padding: 0px;
}

.contact {
  font-family: regular-text;
  font-size: 18px;
}

/* BOOTSTRAP CLASSES OVERWRITING */

.nav-link {
  color: #eeeeee !important;
  font-family: regular-text;
  font-size: 20px !important;
}

.nopadding {
  padding: 0 !important;
  padding-right: 10px !important;
  margin: 0 !important;
}

.btn-outline-info {
  border: solid 3px !important;
  color: #00adb5 !important;
}

.text-white {
  color: #eeeeee !important;
}

.close {
  border: transparent !important;
  background-color: transparent !important;
}

.modal-content {
  background-color: #393e46 !important;
}

.modal-header {
  color: #eeeeee !important;
  font-family: regular-text !important;
}

.modal-body {
  color: #eeeeee !important;
  font-family: regular-text !important;
}
